.navbar-nav{
    margin-left: auto;
}
.nav-link{
    margin: 10px;
    color: black;
}
body{
    overflow-x: hidden;
    margin: 0;
    background-color: #FFF8F5;
}
.curr{
    background-image:linear-gradient(to top,rgba(97, 11, 11, 0.6),rgba(27, 25, 25, 0.9)),url('event.jpeg');
}
.text{
    color: white;
}
.button{
    background-color: #F46B3C;
    color: white;
    border-radius: 2px solid white;
    border-radius: 10px;
    width:120px;
    margin-right:10px;
    height:30px;
    padding-bottom:10px;
}
a{
    text-decoration: none;
}
a:hover{
    color:white;
}
.button1{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding-left: 10px;
    padding-right:10px;
    border-radius: 10px;
}
.cars{
    background-color: #F5B7A2;
    color: #1D275F;
    border:2px black;
    border-radius: 20px;
    height:40px;
    font-weight: bold;
    text-align: center;
    padding:5px; 
}
.btn{
    background-color: transparent;
    border:2px solid #F46B3C;
    width:126px;
    height:36px;
    border-radius: 10%;
}
.footer{
    background-color:#F46B3C;
    color: white;
    padding: 40px;

}
.copyright{
    background-color:#4B4847;
    margin-bottom: 0px;
    color: white;
    height: 30px;
}
.card-img-top{
    border:10px solid white;
}
.card{
    background-color: transparent;
}
i{
    background-color: white;
    color:#ff7518;
    width:40px;
    height:40px;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 20px;
}
svg{
    background-color: white;
    color:#ff7518;
    width:40px;
    height:40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px; 
}
.footer-item{
    padding:10px;
}
.event{
    border:2px solid #ff7518;
    border-radius: 10px;
}
.past{
    margin-top: 60px;
}
.heading{
    margin-top:10px;
}
.options{
    background-color:white;
}
