* {
    background-color: rgb(245, 230, 212);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{
    display: flex;
}
.heroContainer_img{
    margin: 5% 3%;
}
.heroContainer_img > img{
    border-radius: 50%;
}
span{
    color: rgb(225, 97, 51);
    font-weight: bolder;
    font-size: 2.5rem;
}
.heroContainer_txt{
    padding: 3%;
    font-size: 1.5rem;
    line-height: 2;
    font-family: 'Arial';
}
hr{
    width: 10%;
    height: 60px;
    border: none;
    border-top: dotted 20px;
    margin-left: 60%;
    border-color: rgb(225, 97, 51);
}